body {
  font-family: sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
      color: white;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  text-align: center;
}

#message {
  font-weight: bold;
  font-size: 40px;
  text-shadow:
    -1px 0 black,
     1px 0 black,
     0 -1px black,
     0  1px black;
}

.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  bottom: -20px;
  font-size: 20px;
  pointer-events: none;
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes floatUp {
   0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), -110vh) rotate(var(--rot));
    opacity: 0;
  }
}
