body {
  font-family: sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
      color: white;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  text-align: center;
}

#message {
  font-weight: bold;
  font-size: 100px;
  text-shadow:
    -1px 0 black,
     1px 0 black,
     0 -1px black,
     0  1px black;
}
