body {
  font-family: sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
      color: white;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  text-align: center;
}

#messages {
  font-weight: bold;
  font-size: 22px;
  text-shadow:
    -5px -5px 5 black,
     5px -5px 5 black,
    -5px  5px 5 black,
     5px  5px 5 black;
}
